
.idea/

.vs/

bin/
obj/

Properties/PublishProfiles/


*.user


Properties/ServiceDependencies/

gRPC/gRPC.DeepDive.Demo/Properties/PublishProfiles/

gRPC/gRPC.DeepDive.Demo/Properties/ServiceDependencies/

gRPC/gRPC.Demo.Service/Properties/PublishProfiles/

gRPC/gRPC.Demo.Service/Properties/ServiceDependencies/
